body {
    background-size: 1050px 1800px;
    background-image: url(./imagen-fondo/background-2413074.jpg);
    font-family: 'Cormorant Upright', serif;
}   
header { 
    width: 960px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 10px;
}
#marca {
    width: 150px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin-left: 150px;
    float: left;
}
#marca img {
    width: 190px;
    height: 80px;
    margin-top: 10px;
}
nav {
    width:450px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin-right: 150px;
    float:right;
    font-style: bold;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li a {
    width:108px;
    height: 80px;
    text-decoration: none;
    font-size: 20px; 
    line-height:50px;
    font-weight: italic;
}
.menu li {
    display: inline;
}
.menu li a {   
    display:inline-block;    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: center;
    border:none;
}
.menu li a:hover{
    background-color: rgba(255, 255, 255, 0.322);
 }
section {
    width: 960px;
    height: 1200px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}
aside img {
    width: 960px;
    height:200px;
}
#imagen_izq img {
    width: 300px;
    height: 350px;
    background-color: rgb(0, 0, 0);
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 70px;
    float: left;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.876);
}
#texto_der {
    width: 350px;
    height: 450px;
    background-color: rgb(0, 0, 0);
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    float: right;
    color: white;
    box-sizing: border-box
}
#texto_der h1 {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
#texto_der p {   
    padding: 5px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
}
#contenedor_izq,#contenedor_cen, #contenedor_der {
    width: 150px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 0px 7px rgba(255, 255, 255, 0.876);
}
#contenedor_izq {
    margin-left: 200px;
    float: left;
    background-image: url("imagenes/bangkok1_edited.jpg");
    background-size: 150px 250px;
}
#cont_izq_text, #cont_cen_text, #cont_der_text {
    color:white;
    text-align: center;
    font-size: 10px;
    margin-top:0px;
    padding: 2px;
    background-color: rgba(68, 68, 67, 0.438);
    opacity: 0;
}
#contenedor_izq:hover #cont_izq_text {
    opacity: 1;
}
#boton_izq, #boton_cen, #boton_der{
    display: block;
    margin-top: 230px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 150px;
    box-sizing: border-box;
    background-color:rgba(93, 93, 90, 0.411);
    color: white;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
    border: 1px white solid;
}
#boton_izq a,#boton_cen a ,#boton_der a {
    text-decoration: none;
    color: white;
}
#boton_izq a:hover {
    opacity: 0.5;  
}
#contenedor_cen {
    margin-left: 55px;
    float: left;
    background-image: url("imagenes/playa_edited.jpg");
    background-size: 150px 250px;
  
}
#contenedor_cen:hover #cont_cen_text {
    opacity: 1;
}
#boton_cen a:hover {
    opacity: 0.5;
}
#contenedor_der {
    margin-left: 55px;
    margin-right:200px; 
    float:right;
    background-image: url("imagenes/templo_edited.jpg");
    background-size: 150px 250px;
}
#contenedor_der:hover #cont_der_text {
    opacity: 1;
}
#boton_der a:hover {
    opacity: 0.5;
}
#cont-dest {
    color: white;
    background-color:rgba(255, 255, 255, 0.322);
    width: 960px;
    height: 50px;
    box-sizing: border-box;
}
#cont-dest h2 {
    margin-top:10px;
    margin-bottom: auto;
    margin-left: 15px;
    padding: 5px;
}
#destino, #video {
    width: 50%;
    float: left;
}
#video {
 margin-top: 0px;
 margin-left: 20px;
}
#destino {
    color: white;
    font-size: 16px;
    width: 400px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 25px;
    float: left;   
}
#galeria{
    width: 960px;
    height: 300px;
    float: left;
    margin-top: 50px;
}
#cont_foto_1,#cont_foto_2, #cont_foto_3{
    width: 280px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right:10px;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.876);
}
#cont_foto_1{
    background-image:url("imagenes/cont_1_edited.jpg");
    background-size: 280px 200px;
    float: left;
}
#cont_foto_1 img, #cont_foto_2 img,#cont_foto_3 img {
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.876); 
}
#cont_info_1, #cont_info_2,#cont_info_3 {
    color:white;
    background-color: rgba(68, 68, 67, 0.705);
    width: 280px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    opacity: 0;
}
#cont_info_1 {
    float: left;
}
#cont_foto_1:hover #cont_info_1{
    opacity: 1;
}
#boton_cont_1 a, #boton_cont_2 a, #boton_cont_3 a{
    text-decoration: none;
    color: white;
}
#cont_foto_2{
    background-image:url("imagenes/cont_2_edited.jpg");
    background-size: 280px 200px;
    float: left;
}
#cont_info_2 {
    float: left;
}
#cont_foto_2:hover #cont_info_2 {
    opacity: 1;
}
#cont_foto_3 {
    background-image:url("imagenes/cont_3_edited.jpg");
    background-size: 280px 200px;
    float: right;
}
#cont_info_3 {
    float: right;
}
#cont_foto_3:hover #cont_info_3{
    opacity: 1;
}
#nosotros_text, #nosotros_text_2, #nosotros_text_3 {
    color: white;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
    text-align: justify;
}
#nosotros_text {
    margin-bottom: 10px;   
}
#nosotros_text_2 {
    margin-bottom: 5px;
}
#nosotros_text_3 {
    margin-bottom: 5px;
}
#nos_foto_izq, #nos_foto_der {
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.876);
    background-size: 400px 200px;
    float: left;
    width: 400px;
    height:200px ;
    margin-top: 25px;
}
#nos_foto_izq {
    background-image: url(./imagenes/leo2_edited.jpg);
    margin-left: 40px;
}
#nos_foto_der {
    background-image: url(./imagenes/pao3_edited.jpg);
    margin-left: 70px;
}
#nos_info_1, #nos_info_2 {
    color:rgb(255, 255, 255);
    background-color: rgba(68, 68, 67, 0.705);
    width: 400px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    opacity: 0;
}
#nos_foto_izq:hover #nos_info_1{
    opacity: 1;
}
#nos_info_1 p, #nos_info_2 p {
    margin-left:5px;
    margin-right: 5px;
    font-style: italic;
    margin-top: 100px;
}
#nos_foto_der:hover #nos_info_2 {
    opacity: 1;
}
#nos_fotos {
    width: 960px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 30px;
    float: left;
    box-sizing: border-box;
    display: block;
}
#nos_fotos div {
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
    border-radius: 15px;
    float: left;
}
#nos_foto1 {
    background-image: url(./imagenes/8_edited.jpg);
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}
#nos_foto2 {
    background-image: url(./imagenes/7_edited.jpg);
    border-radius: 15px;
    margin-right: 16px;
    margin-left: 16px;
}
#nos_foto3 {
    background-image: url(./imagenes/1edited.jpg);
    border-radius: 15px;
    margin-right: 16px;
    margin-left: 16px;
}
#nos_foto4 {
    background-image: url(./imagenes/2_edited.jpg);
    border-radius: 15px;
    margin-left: 16px;
    margin-right: 16px;
}
#nos_foto5 {
    background-image: url(./imagenes/5_edited.jpg);
    border-radius: 15px;
    margin-left: 16px;
    margin-right: 20px;
}
footer {   
    width: 960px;
    height: 450px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#texto_contacto {
    width:200px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 50px;
    float: left;
    color: white;
    box-sizing: border-box;
}
#texto_contacto h2 {
    padding: 5px;
    text-align: center;
    margin: 0px;
    font-style: normal;
}
#texto_contacto p {
    padding: 5px;
    text-align: justify;
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    color: white;
}
#texto_contacto a {
    text-decoration: none;
}
#contenedor_contacto {
    width: 460px;
    height: 200px;
    background-color:black;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    float: left;
}
#formulario{
    width: 500px;
    height: 200px;
}
input, textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 450px;
    box-sizing: border-box;
    background-color:rgba(93, 93, 90, 0.411);
    border: 2px white solid;
    color: white;
    font-family: 'Cormorant Upright', serif;
    font-style: bold;
    font-size: 15px;
}
input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.322);
}
#redes {
    width: 460px;
    height: 50px;
    background-color:  rgba(0, 0, 0, 0.712);
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    float:left;
    box-sizing: border-box;
}
#redes img {
    width: 22px; 
}
#redes li {
    display: inline;
    clear: both;
}
#redes li a {   
    display:inline-block;
    clear:both;
    width: 65px;
    padding: 5px;
    padding-left:40px;
}
#redes img:hover {
width: 26px;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
    body {
        background-size: 590px 1800px;
    }   
    header { 
        width: 580px;
        height: 160px;
    }
    #marca {
        width: 150px;
        height: 80px;
    }
    #marca img {
        width: 150px;
        height: 80px;
        margin-left: 250px;
    }
    nav {
        width:430px;
        height: 80px;
     
    }
    li a {
        width:100px;
        height: 80px;
    }
    section {
        width: 580px;
        height: 1050px;
    }
    aside img {
        width: 580px;
        height:200px;
    }
    #imagen_izq img {
        width: 150px;
        height: 200px;
        margin-left: 30px;
      
    }
    #texto_der {
        width: 320px;
        height: 300px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    #texto_der h1 {
        font-size: 25px;
    }
    #texto_der p {   
        padding: 2px;
        font-size: 15px;
    }
    #contenedor_izq,#contenedor_cen, #contenedor_der {
        width: 120px;
        height: 200px;
        margin-top: 120px;
        margin-bottom: 30px;
    }
    #contenedor_izq {
        margin-left: 70px;
        margin-right: 20px;
        background-size: 120px 200px;
    }

    #boton_izq, #boton_cen, #boton_der{
        margin-top: 180px;
        padding: 2px;
        width: 120px;
        font-size: 15px;
    }
    #contenedor_cen {
        margin-left: 20px;
        margin-right: 20px;
        background-size: 120px 200px;
    }
    #contenedor_der {
        margin-left: 20px;
        margin-right:70px; 
        background-size: 120px 200px;
    }
    #cont-dest {
        width: 580px;
        height: 50px;
    }
    #cont-dest h2 {
        margin-top:5px;
        margin-left: 15px;
        padding: 2px;
    }
    #cont-dest h4, p {
        margin:2 0;
    }

    #video video{
     margin-left: 0px;
     width: 300px;
     height: 300px;
    }
    #destino {
        font-size: 12px;
        width: 200px;
        padding: 5px;
        margin-left: 25px;  
    }
    #galeria{
        width: 580px;
        height: 250px;
        margin-top: 15px;
    }
    #cont_foto_1,#cont_foto_2, #cont_foto_3{
        width: 160px;
        height: 150px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right:10px;
        margin-top: 10px;
    }
    #cont_foto_1{
        background-size: 160px 150px;
        margin-left: 20px;
        margin-right: 15px;
   
    }
    #cont_foto_1 img, #cont_foto_2 img,#cont_foto_3 img {
        border-radius: 10px;
    }
    #cont_info_1, #cont_info_2,#cont_info_3 {
        width: 160px;
        height: 150px;
        border-radius: 10px;
        font-size: 12px;
    }
    #cont_foto_2{
        background-size: 160px 150px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #cont_foto_3 {
        background-size: 160px 150px;
        margin-left: 15px;
        margin-right: 20px;
    }
    #nosotros_text, #nosotros_text_2, #nosotros_text_3 {
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13px;
    }
    #nosotros_text {
        margin-bottom: 5px;   
    }
    #nosotros_text_2 {
        margin-bottom: 3px;
    }
    #nosotros_text_3 {
        margin-bottom: 3px;
    }
    #nos_foto_izq, #nos_foto_der {
        margin-bottom: 10px;
        background-size: 240px 150px;
        width: 240px;
        height:150px ;
        margin-top: 10px;
    }
    #nos_foto_izq {
        margin-left: 25px;
        margin-right: 25px;
    }
    #nos_foto_der {
        margin-left: 25px;
        margin-right: 25px;
    }
    #nos_info_1, #nos_info_2 {
        width: 240px;
        height: 150px;
    }
    #nos_foto_izq:hover #nos_info_1{
        opacity: 1;
    }
    #nos_info_1 p, #nos_info_2 p {
        margin-top: 40px;
        font-size: 12px;
    }
    #nos_fotos {
        width: 580px;
        height: 200px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-top: 30px;
    }
    #nos_fotos div {
        background-size: 90px 150px;
        width: 90px;
        height: 150px;
    }
    #nos_foto1 {
        margin-left: 20px;
        margin-right: 11px;
        margin-bottom: 20px;
    
    }
    #nos_foto2 {
        margin-right: 11px;
        margin-left: 11px;
    }
    #nos_foto3 {
        margin-right: 11px;
        margin-left: 11px;
    }
    #nos_foto4 {
        margin-left: 11px;
        margin-right: 11px;
    }
    #nos_foto5 {
        margin-left:11px;
        margin-right: 20px;
    }
    footer {   
        width: 580px;
        height: 450px;
    }
    #texto_contacto {
        width:200px;
        height: 100px;
        margin-left: 190px;
        margin-right: 190px;
        margin-top: 50px;
        
    }
    #texto_contacto h2 {
        padding: 3px;
    }
    #contenedor_contacto {
        width: 400px;
        height: 200px;
        margin-left: 90px;
        margin-right: 90px;
    }
    #formulario{
        width: 400px;
        height: 200px;
    }
    input, textarea {
        width: 400px;
    }
    #redes {
        width: 460px;
        height: 50px;
        margin-left: 60px;
        margin-right: 60px;
    }
    
}
@media all and (max-width: 599px){
    body {
        background-size: 1050px 1800px;
    }
    header { 
        width: 90%;
        height: auto;
    }
    #marca {
        width: 90%;
        height: auto;
        float: none;
        margin-left: 40px;
    }
    nav {
        width:100%;
        height: auto;
        float:none;
    }
    li a {
        width:100%;
    }
    .menu li {
        display: block;
    }
    section {
        width: 90%;
        height: auto;
    }
    aside img {
        width: 100%;
        height:150px;
    }
    #imagen_izq img {
        width: 250px;
        height: 300px;
        float: none;
        margin: 10%;
        margin-top: 20px;
       
    }
    #texto_der {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-top: 0px;
        margin-bottom:5%;
        float: none;
    }
    #texto_der p {   
        font-size: 15px;
      
    }
    #contenedor_izq,#contenedor_cen, #contenedor_der {
        width: 250px;
        height: 250px;
        margin-top: 10%;

    }
    #contenedor_izq {
        margin:0px;
        float: none;
        background-size: 250px 250px;
        margin-top: 15%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    #boton_izq, #boton_cen, #boton_der{
        display: block;
        margin-top: 150px;
        margin-bottom: 10%;
        margin-left: 5px;
        padding: 5px;
        width: 240px;
        font-size: 18px;
    }
    #contenedor_cen {
        float: none;
        background-size: 250px 250px;
        margin-top: 15%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    #contenedor_der { 
        float:none;
        background-size: 250px 250px;
        margin-top: 15%;
        margin-left: 10%;
        margin-bottom: 3%;
    }
    #cont-dest {
        color: white;
        background-color:rgba(255, 255, 255, 0.322);
        width: 960px;
        height: 50px;
        box-sizing: border-box;
    }
    #cont-dest h2 {
        margin-top:10px;
        margin-bottom: auto;
        margin-left: 15px;
        padding: 5px;
    }
    #destino, #video {
        width: 50%;
        float: left;
    }
    #video {
     margin-top: 0px;
     margin-left: 20px;
    }
    #destino {
        color: white;
        font-size: 16px;
        width: 400px;
        box-sizing: border-box;
        padding: 10px;
        margin-left: 25px;
        float: left;   
    }
    #galeria{
        width: 960px;
        height: 300px;
        float: left;
        margin-top: 50px;
    }
    #cont_foto_1,#cont_foto_2, #cont_foto_3{
        width: 280px;
        height: 200px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right:10px;
        margin-top: 15px;
        box-sizing: border-box;
        border-radius: 15px;
        box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.876);
    }
    #cont_foto_1{
        background-image:url("imagenes/cont_1_edited.jpg");
        background-size: 280px 200px;
        float: left;
    }
    #cont_foto_1 img, #cont_foto_2 img,#cont_foto_3 img {
        border-radius: 15px;
        box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.876); 
    }
    #cont_info_1, #cont_info_2,#cont_info_3 {
        color:white;
        background-color: rgba(68, 68, 67, 0.705);
        width: 280px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        opacity: 0;
    }
    #cont_info_1 {
        float: left;
    }
    #cont_foto_1:hover #cont_info_1{
        opacity: 1;
    }
    #boton_cont_1 a, #boton_cont_2 a, #boton_cont_3 a{
        text-decoration: none;
        color: white;
    }
    #cont_foto_2{
        background-image:url("imagenes/cont_2_edited.jpg");
        background-size: 280px 200px;
        float: left;
    }
    #cont_info_2 {
        float: left;
    }
    #cont_foto_2:hover #cont_info_2 {
        opacity: 1;
    }
    #cont_foto_3 {
        background-image:url("imagenes/cont_3_edited.jpg");
        background-size: 280px 200px;
        float: right;
    }
    #cont_info_3 {
        float: right;
    }
    #cont_foto_3:hover #cont_info_3{
        opacity: 1;
    }
    #nosotros_text, #nosotros_text_2, #nosotros_text_3 {
        color: white;
        margin-top: 25px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 17px;
        text-align: justify;
    }
    #nosotros_text {
        margin-bottom: 10px;   
    }
    #nosotros_text_2 {
        margin-bottom: 5px;
    }
    #nosotros_text_3 {
        margin-bottom: 5px;
    }
    #nos_foto_izq, #nos_foto_der {
        margin-bottom: 20px;
        box-sizing: border-box;
        border-radius: 15px;
        box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.876);
        background-size: 400px 200px;
        float: left;
        width: 400px;
        height:200px ;
        margin-top: 25px;
    }
    #nos_foto_izq {
        background-image: url(./imagenes/leo2_edited.jpg);
        margin-left: 40px;
    }
    #nos_foto_der {
        background-image: url(./imagenes/pao3_edited.jpg);
        margin-left: 70px;
    }
    #nos_info_1, #nos_info_2 {
        color:rgb(255, 255, 255);
        background-color: rgba(68, 68, 67, 0.705);
        width: 400px;
        height: 200px;
        float: left;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        opacity: 0;
    }
    #nos_foto_izq:hover #nos_info_1{
        opacity: 1;
    }
    #nos_info_1 p, #nos_info_2 p {
        margin-left:5px;
        margin-right: 5px;
        font-style: italic;
        margin-top: 100px;
    }
    #nos_foto_der:hover #nos_info_2 {
        opacity: 1;
    }
    #nos_fotos {
        width: 960px;
        height: 200px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 30px;
        float: left;
        box-sizing: border-box;
        display: block;
    }
    #nos_fotos div {
        background-size: 150px 200px;
        width: 150px;
        height: 200px;
        border-radius: 15px;
        float: left;
    }
    #nos_foto1 {
        background-image: url(./imagenes/8_edited.jpg);
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 16px;
    }
    #nos_foto2 {
        background-image: url(./imagenes/7_edited.jpg);
        border-radius: 15px;
        margin-right: 16px;
        margin-left: 16px;
    }
    #nos_foto3 {
        background-image: url(./imagenes/1edited.jpg);
        border-radius: 15px;
        margin-right: 16px;
        margin-left: 16px;
    }
    #nos_foto4 {
        background-image: url(./imagenes/2_edited.jpg);
        border-radius: 15px;
        margin-left: 16px;
        margin-right: 16px;
    }
    #nos_foto5 {
        background-image: url(./imagenes/5_edited.jpg);
        border-radius: 15px;
        margin-left: 16px;
        margin-right: 20px;
    }
    footer {   
        width: 90%;
        height: auto;
    }
    #texto_contacto {
        width:50%;
        height: auto;
        margin-left: 25%;
        margin-right: 25%;
        margin-top:0;
        float: none;
    }
    #texto_contacto h2 {
        padding: 2px;
    }
    #texto_contacto p {
        font-size: 10px;
        text-align: center;
        padding: 2px;
    }
    #contenedor_contacto {
        width: 90%;
        height: 200px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 10px;
        float: none;
    }
    #formulario{
        width: 100%;
        height: 200px;
    }
    input, textarea {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        padding: 5px;
        width: 100%;
        font-size: 15px;
    }
    #redes {
        height: 50px;
        margin-left: 5%;
        margin-right:0;
        margin-top: 20px;
        float:none;
        display: block;
        width:50%;
    }
    #redes img {
        width: 22px; 
    }
    #redes ul {
        width: 250px;
        height: 250px;
        margin-left: 10%;
     }

    #redes li {
        display: inline;
        clear: both;
        margin-left: 4%;


    }
    #redes li a {   
        display:inline-block;
        clear:both;
        width: 15%;
        padding: 5px;
        padding-left:5px;
    }
    #redes img:hover {
    width: 26px;
    }
} /*fin media max 599*/